@charset "UTF-8";
@import url(reset.css);
:root {
  /* --dark_gray : #252525; */
  --deep_gray: #333;
  --gray_02: #575551;
  --gray_01: #9e9d9b;
  --light_gray: #9e9d9b40;
  --orange: #d44a00;
  --light_orange: #ed7e00;
  --yellow: #ffc107;
}

.wrap {
  font-size: 1.6rem;
}

.pc {
  display: block;
}

.mo {
  display: none;
}

.ellip {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  font-family: "Cafe24Moyamoya-Regular-v1.0";
  font-weight: normal;
  font-style: normal;
  font-size: 7rem;
  color: #fff;
  line-height: 1;
}
h2 {
  font-family: "ONE-Mobile-POP";
  font-weight: normal;
  font-size: 2.2rem;
  color: #fff;
}
h3 {
  font-family: "JalnanGothic";
  font-weight: normal;
  font-size: 3.4rem;
  line-height: 1.2;
  text-align: center;
}
h3 span {
  color: var(--gray_01);
}
h3 span.bold {
  color: var(--deep_gray);
}
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
}

[class*=_round] {
  display: inline-flex;
  align-items: center;
  min-height: 4rem;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 600;
}

.text_01 {
  font-family: "ONE-Mobile-POP";
  font-size: 4rem;
}
.text_02 {
  font-family: "ONE-Mobile-POP";
  font-size: 2.2rem;
}
.text_stick {
  position: relative;
  padding-left: 2rem;
}
.text_stick::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 1rem;
  height: 0.4rem;
  background-color: var(--orange);
}
.text_dot {
  position: relative;
  padding-left: 1.4rem;
}
.text_dot::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.1rem;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--orange);
}
.text_multiple li {
  position: relative;
  padding-left: 1.2rem;
}
.text_multiple li::before {
  content: "";
  position: absolute;
  top: 1.1rem;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--orange);
}
.text_trans {
  position: relative;
}
.text_trans::before {
  content: "";
  position: absolute;
  left: -3.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.8rem;
  height: 3.6rem;
  background-color: var(--light_orange);
}
.text_round {
  border: 3px solid var(--gray_01);
  background-color: #fff;
  color: var(--gray_01);
}

.btn_round {
  background-color: var(--gray_01);
  color: #fff !important;
}
.btn_round:hover {
  background-color: var(--light_orange);
}
.btn_round.type_2 {
  background-color: var(--orange);
}
.btn_round.type_2:hover {
  background-color: var(--yellow);
}

header {
  position: relative;
  top: 0;
  height: 0;
  z-index: 50;
}
header .hd_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hd_wrap {
  padding: 2rem 5rem;
  height: 8.5rem;
}
header .hd_right {
  display: flex;
  gap: 1rem;
}

.top {
  position: fixed;
  top: 1.8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.top_cont {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.4rem 2rem;
  border-radius: 50px;
  background: #fff;
  overflow: hidden;
}
.top_cont a,
.top_cont button {
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}
.top_cont a {
  padding: 0.6rem 0.8rem;
  border-radius: 10px;
  color: var(--deep_gray);
  line-height: 1.8;
}
.top_cont a .stars {
  color: var(--gray_01);
}
.top_cont a:hover {
  background-color: rgba(34, 34, 34, 0.1254901961);
}
.top_cont a:hover .stars {
  color: var(--yellow) !important;
}
.top_cont button {
  position: absolute;
  right: -16rem;
  min-width: 12rem;
  visibility: hidden;
  opacity: 0;
}
.top_cont .plus {
  padding-right: 4.6rem;
}
.top_cont .plus::after, .top_cont .plus::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.8rem;
  width: 1px;
  height: 1.3rem;
  background-color: #fff;
}
.top_cont .plus::before {
  width: 1.3rem;
  height: 1px;
  right: 1.2rem;
}
.top_cont .plus:hover::after {
  height: 0;
}
.top.floating .top_cont {
  padding-right: 16rem;
  background-color: rgba(34, 34, 34, 0.4392156863);
}
.top.floating .top_cont a {
  color: #fff;
}
.top.floating .top_cont a .stars {
  color: rgba(255, 255, 255, 0.5019607843);
}
.top.floating .top_cont a:hover {
  background-color: rgba(255, 255, 255, 0.1882352941);
}
.top.floating .top_cont button {
  right: 0.6rem;
  visibility: visible;
  opacity: 1;
}

section {
  position: relative;
  padding-top: 5rem;
  margin: 0 auto 12rem !important;
}
section + section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 1rem;
  background-color: var(--yellow);
}
section.center .content {
  width: 100%;
  max-width: 106rem;
  margin: auto;
}
section .title + .content {
  margin-top: 5rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.visual {
  width: 100%;
  height: 100vh;
  margin: auto;
  background: linear-gradient(45deg, #fb936b, #80ffe1, #ff82b2, #50ffd6);
  background-size: 500% 500%;
  -webkit-animation: gradient 20s ease infinite;
          animation: gradient 20s ease infinite;
  transition: all 0.6s;
}
.visual.active {
  width: 85%;
  border-radius: 40px;
}
.visual > .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 10rem;
  width: 80%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.visual_box {
  width: 50%;
}
.visual_box dd {
  margin-top: 6rem;
}
.visual_box dd * {
  color: #fff;
}
.visual_box dd span,
.visual_box dd a {
  font-size: 2rem;
}
.visual .link_more {
  position: absolute;
  left: 10rem;
  bottom: 18%;
  padding: 0 2rem;
}
.visual .link_more .arrow {
  position: relative;
  padding-left: 4rem;
  font-size: 3rem;
}
.visual .link_more:hover .arrow {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrow {
  50% {
    padding-left: 14rem;
  }
  100% {
    padding-left: 4rem;
  }
}

@keyframes arrow {
  50% {
    padding-left: 14rem;
  }
  100% {
    padding-left: 4rem;
  }
}
.about_me {
  width: 40rem;
  padding: 4rem 4.5rem;
  background-color: rgba(255, 255, 255, 0.3882352941);
  border-radius: 18px;
}
.about_me dt {
  margin-bottom: 3rem;
}
.about_me dd {
  font-size: 2rem;
}
.about_me dd span {
  display: inline-block;
  vertical-align: sub;
  margin-right: 2rem;
  font-size: 3rem;
}
.about_me:hover {
  box-shadow: 2px 3px 20px 6px #ffffff;
}

.intro dl {
  margin-bottom: 2.4rem;
}
.intro dt {
  margin: 1rem 0 0.2rem;
}
.intro dd {
  font-size: 1.8rem;
  color: var(--gray_02);
}
.intro .skills dd {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.work .content {
  border: 0.3rem solid var(--light_gray);
  border-radius: 18px;
  overflow: hidden;
}
.work_list {
  position: relative;
}
.work_list + .work_list {
  border-top: 0.3rem solid var(--light_gray);
}
.work_list .on.work_tit::before {
  transform: rotate(180deg);
}
.work_tit {
  display: block;
  width: 100%;
  padding: 3rem 3rem 1.5rem;
  background: #fff;
  text-align: left;
}
.work_tit .date {
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 1rem;
}
.work_tit p {
  margin: 1rem 0 0 1rem;
  line-height: 2;
}
.work_tit p span {
  display: block;
  font-weight: 600;
}
.work_link {
  display: block;
  width: 100%;
  padding: 1.5rem 0 3rem;
  color: var(--orange);
  background-color: #fff;
  font-family: "JalnanGothic";
  transition: all 0.5s;
}
.work_link span {
  position: relative;
  padding-right: 2.4rem;
}
.work_link span::before {
  content: "▼";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "ONE-Mobile-POP";
  font-size: 2rem;
  color: var(--orange);
  transition: all 0.5s;
}
.work_link:hover span::after {
  content: "";
  width: 106px;
  height: 3px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -42%;
  background-color: var(--orange);
}
.work_link.on span::before {
  transform: translateY(-60%) rotate(180deg);
}
.work_con {
  display: none;
  overflow: hidden;
  height: 0;
  border-top: 0.3rem solid var(--light_gray);
  background-color: rgba(158, 157, 155, 0.0941176471);
  opacity: 0;
}
.work .depth_one {
  margin: 0 3rem;
  padding: 3rem;
}
.work .depth_one .tit {
  font-size: 1.8rem;
}
.work .depth_one .tit span {
  margin-left: 1rem;
  color: var(--gray_02);
  font-size: 1.4rem;
}
.work .depth_one .txt {
  display: block;
  margin: 1.4rem 0 1.4rem 2rem;
}
.work .depth_one .depth_two {
  margin: 1.4rem 0 0 2rem;
}
.work .depth_one + li {
  border-top: 0.3rem solid var(--light_gray);
}

.page {
  width: 98vw;
  overflow: hidden;
}
.page .content {
  display: flex;
  gap: 3rem;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-40%);
}
.page .box_txt {
  width: 50rem;
  flex-shrink: 0;
}
.page .box_txt li {
  position: relative;
  margin-bottom: 6rem;
}
.page .box_txt li * {
  color: var(--gray_01);
}
.page .box_txt li:hover > a {
  border: 3px solid var(--light_gray);
}
.page .box_txt li > a {
  display: block;
  width: 100%;
  padding: 3rem;
  border-radius: 10px 10px 0 10px;
  border: 3px solid #fff;
}
.page .box_txt li .text_trans::before {
  display: none;
}
.page .box_txt dt {
  margin-bottom: 1rem;
}
.page .box_txt button {
  position: absolute;
  bottom: -4.4rem;
  right: 0;
  padding: 1.2rem 3rem;
  border-radius: 0 0 20px 20px;
  font-size: 1.6rem;
  opacity: 0;
}
.page .box_txt a.active {
  border: 3px solid var(--light_gray);
}
.page .box_txt a.active * {
  color: var(--deep_gray);
}
.page .box_txt a.active + button {
  opacity: 1;
  overflow: visible;
}
.page .box_txt a.active .text_trans::before {
  display: block;
}
.page .box_img {
  width: 180rem;
  flex-shrink: 0;
  overflow: hidden;
}
.page .box_img [class*=img_] {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid var(--light_gray);
  overflow: hidden;
  display: none;
}
.page .box_img [class*=img_] img {
  height: 100%;
  background-size: cover;
}
.page .box_img [class*=img_].active {
  display: block;
}

.current .font {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--light_gray);
}
.current dl {
  margin-bottom: 6rem;
}
.current dt {
  margin-bottom: 1rem;
}

.etc {
  padding-bottom: 10rem;
  background-color: #a1a9b0;
}
.etc .title {
  color: #fff;
}
.etc .content {
  padding: 3rem;
  background: #fff;
  border-radius: 18px;
  text-align: left;
}
.etc dl + dl {
  margin-top: 3rem;
}
.etc dd {
  font-size: 1.8rem;
  margin-left: 1.4rem;
}

@media (max-width: 1100px) {
  .wrap {
    font-size: 1.4rem;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  .pc {
    display: none !important;
  }
  .mo {
    display: block;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 1.8rem;
    color: var(--deep_gray);
  }
  [class*=_round] {
    min-height: 3rem;
    padding: 0.4rem 1.6rem;
    font-size: 1.6rem;
  }
  .text_01 {
    font-size: 2rem;
  }
  .text_02 {
    font-size: 1.6rem;
  }
  .text_stick::before {
    top: 1rem;
  }
  .text_dot::before {
    top: 1rem;
  }
  .text_trans::before {
    left: -2.2rem;
  }
  .text_multiple li::before {
    top: 0.9rem;
  }
  .btn_floating {
    position: fixed;
    bottom: 6%;
    right: -30%;
    display: block;
    width: 6rem;
    height: 7rem;
    border-radius: 10px 0 0 10px;
    background-color: var(--orange);
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 1rem;
    transition: all 0.3s;
  }
  .btn_floating.floating {
    right: 0;
  }
  .top {
    width: 13rem;
    right: -13rem;
    left: auto;
    top: 2rem;
    transform: unset;
  }
  .top_cont {
    flex-wrap: wrap;
    gap: 0;
    padding: 1rem;
    border-radius: 0 10px 10px 10px;
    background: rgba(255, 255, 255, 0.8);
  }
  .top_cont a {
    width: 100%;
    padding: 1rem;
    line-height: 1.2;
    font-size: 1.6rem;
  }
  .top.floating .top_cont {
    padding: 1rem;
    background: rgba(34, 34, 34, 0.8);
  }
  .top.floating .top_arrow {
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
  }
  .top.floating .top_arrow span {
    color: #fff;
  }
  .top.open {
    right: 2rem;
  }
  .top.open .top_arrow span {
    transform: rotate(180deg);
  }
  .top_arrow {
    position: absolute;
    left: -5rem;
    top: 0px;
    height: 5rem;
    width: 5rem;
    border-radius: 10px 0 0 10px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.8rem;
  }
  .top_arrow span {
    display: block;
    color: var(--deep_gray);
    font-size: 2rem;
    transition: all 0.3s;
  }
  header .hd_wrap {
    padding: 2rem 2rem;
  }
  section {
    margin: 0 auto 8rem !important;
    padding-top: 4rem;
  }
  section.center {
    width: calc(100% - 4rem);
  }
  section .title + .content {
    margin-top: 4rem;
  }
  section + section::before {
    width: 5rem;
  }
  .visual {
    overflow: hidden;
  }
  .visual > .content {
    display: block;
    margin: auto;
    width: calc(100% - 4rem);
    left: 0;
    transform: translateY(-55%);
  }
  .visual_box {
    width: 100%;
  }
  .visual dd {
    margin-top: 3rem;
  }
  .visual dd span, .visual dd a {
    font-size: 1.6rem;
  }
  .visual .link_more {
    display: none;
  }
  .about_me {
    width: 100%;
    height: auto;
    padding: 2rem;
    margin-top: 2rem;
  }
  .about_me dt {
    margin-bottom: 1rem;
  }
  .about_me dd {
    font-size: 1.4rem;
    margin-top: 0;
  }
  .about_me dd span {
    font-size: 2rem;
  }
  .intro dd {
    font-size: 1.5rem;
  }
  .work_tit {
    padding: 2.4rem 2rem 1rem;
  }
  .work_tit .date {
    font-size: 1.3rem;
  }
  .work_tit::before {
    right: 1rem;
    top: 2rem;
    font-size: 1.8rem;
  }
  .work_tit p {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .work_link {
    padding: 1rem 0 2rem;
  }
  .work_link span::before {
    font-size: 1.6rem;
  }
  .work_link:hover span::after {
    display: none;
  }
  .work .depth_one {
    margin: 0 2rem;
    padding: 2rem 0;
  }
  .work .depth_one .tit {
    font-size: 1.6rem;
  }
  .work .depth_one .tit span {
    display: block;
    font-size: 1.3rem;
  }
  .work .text_multiple li {
    font-size: 1.4rem;
  }
  .page {
    width: calc(100% - 4rem);
  }
  .page .content {
    transform: translateX(-50%);
  }
  .page .box_txt {
    width: 100%;
  }
  .page .box_txt li {
    margin-bottom: 5rem;
  }
  .page .box_txt li > a {
    padding: 1.6rem 1.6rem 1.6rem 2rem;
    pointer-events: none;
  }
  .page .box_txt button {
    bottom: -3.9rem;
    padding: 1.1rem 2.2rem 1.2rem;
    font-size: 1.4rem;
  }
  .page .box_img {
    display: none;
  }
  .current .font {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--light_gray);
  }
  .current dl {
    margin-bottom: 6rem;
  }
  .current dt {
    margin-bottom: 1rem;
  }
  .current dd {
    word-break: break-all !important;
  }
  .etc.center {
    width: 100%;
    padding: 5rem 2rem 4rem;
  }
  .etc .content {
    padding: 2rem;
  }
  .etc dt {
    word-break: break-all !important;
  }
  .etc dl + dl {
    margin-top: 1.6rem;
  }
  .etc dl span {
    display: block;
  }
}