:root {
	/* --dark_gray : #252525; */
	--deep_gray: #333;
	--gray_02: #575551;
	--gray_01: #9e9d9b;
	--light_gray: #9e9d9b40;

	--orange: #d44a00;
	--light_orange: #ed7e00;
	--yellow: #ffc107;
}

.wrap {
	min-width: 130rem;
}

.pc {
	display: block;
}
.mo {
	display: none;
}

.ellip {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

h {
	&1 {
		font-family: 'ONE-Mobile-POP';
		font-weight: normal;
		font-size: 2.2rem;
		color: #fff;
	}
	&2 {
		font-family: 'Cafe24Moyamoya-Regular-v1.0';
		font-weight: normal;
		font-style: normal;
		font-size: 7rem !important;
		color: #fff;
		line-height: 1;
	}
	&3 {
		font-family: 'JalnanGothic';
		font-weight: normal;
		font-size: 5.6rem;
		line-height: 1.2;
		text-align: center;
		span {
			color: var(--gray_01);
			&.bold {
				color: var(--deep_gray);
			}
		}
	}
	&4 {
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 3rem;
		line-height: 1;
	}
}

.text {
	&_01 {
		font-family: 'ONE-Mobile-POP';
		font-size: 4rem;
	}
	&_02 {
		font-family: 'ONE-Mobile-POP';
		font-size: 2.6rem;
	}
	&_stick {
		position: relative;
		padding-left: 2rem;
		&::before {
			content: '';
			position: absolute;
			top: 1.8rem;
			left: 0;
			width: 1rem;
			height: 0.4rem;
			background-color: var(--orange);
		}
	}
	&_dot {
		position: relative;
		padding-left: 1.4rem;
		&::before {
			content: '';
			position: absolute;
			top: 1.8rem;
			left: 0;
			width: 0.6rem;
			height: 0.6rem;
			border-radius: 50%;
			background-color: var(--orange);
		}
	}
	&_multiple {
		li {
			position: relative;
			padding-left: 1.2rem;
			&::before {
				content: '';
				position: absolute;
				top: 1.1rem;
				left: 0;
				width: 0.4rem;
				height: 0.4rem;
				border-radius: 50%;
				background-color: var(--orange);
			}
		}
	}
	&_trans {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: -2rem;
			top: 1px;
			width: 0.5rem;
			height: 3.6rem;
			background-color: var(--light_orange);
		}
	}
}

.btn {
	&_round {
		display: inline-flex;
		align-items: center;
		padding: 0.8rem 2rem;
		border-radius: 50px;
		background-color: var(--gray_01);
		font-size: 1.8rem;
		font-weight: 600 !important;
		color: #fff !important;
		&:hover {
			background-color: var(--light_orange);
		}

		&.type_2 {
			background-color: var(--orange);
			&:hover {
				background-color: var(--yellow);
			}
		}
	}
}

header {
	position: relative;
	top: 0;
	height: 0;
	z-index: 50;
	.hd {
		&_cont {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&_wrap {
			padding: 2rem 5rem;
			height: 8.5rem;
		}
		&_right {
			display: flex;
			gap: 1rem;
		}
	}
}

.top {
	position: fixed;
	top: 1.8rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;

	&_cont {
		position: relative;
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 0.4rem 2rem;
		border-radius: 50px;
		background: #fff;
		overflow: hidden;
		a,
		button {
			position: relative;
			display: block;
			font-weight: 500;
			font-size: 1.8rem;
			font-family: 'Roboto', sans-serif;
			white-space: nowrap;
		}
		a {
			padding: 0.6rem 0.8rem;
			border-radius: 10px;
			color: var(--deep_gray);
			line-height: 1.8;
			.stars {
				color: var(--gray_01);
			}

			&:hover {
				background-color: #22222220;
				.stars {
					color: var(--yellow) !important;
				}
			}
		}

		button {
			position: absolute;
			right: -16rem;
			min-width: 12rem;
			visibility: hidden;
			opacity: 0;
		}

		.plus {
			padding-right: 4.6rem;
			&::after,
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 1.8rem;
				width: 1px;
				height: 1.3rem;
				background-color: #fff;
			}
			&::before {
				width: 1.3rem;
				height: 1px;
				right: 1.2rem;
			}
			&:hover::after {
				height: 0;
			}
		}
	}
	&.floating {
		.top {
			&_cont {
				padding-right: 16rem;
				background-color: #22222270;

				a {
					color: #fff;
					.stars {
						color: #ffffff80;
					}
					&:hover {
						background-color: #ffffff30;
					}
				}

				button {
					right: 0.6rem;
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
}

section {
	position: relative;
	margin: 0 auto 10rem !important;
	padding-top: 5rem;
	+ section {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 15rem;
			height: 1rem;
			background-color: var(--yellow);
		}
	}
	&.center {
		.content {
			width: 100%;
			max-width: 110rem;
			margin: auto;
		}
	}
	.title + .content {
		margin-top: 5rem;
	}
}

// 메인
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.visual {
	width: 100%;
	height: 100vh;
	margin: auto;
	background: linear-gradient(45deg, #fb936b, #80ffe1, #ff82b2, #50ffd6);
	background-size: 500% 500%;
	animation: gradient 20s ease infinite;
	transition: all 0.6s;
	&.active {
		width: 85%;
		border-radius: 40px;
	}
	& > .content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		left: 10rem;
		width: 80%;

		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}
	&_box {
		width: 50%;
		dd {
			margin-top: 6rem;
			* {
				color: #fff;
			}
			span,
			a {
				font-size: 2rem;
			}
		}
	}
	.link_more {
		position: absolute;
		left: 10rem;
		bottom: 18%;
		padding: 0 2rem;
		.arrow {
			position: relative;
			padding-left: 4rem;
			font-size: 3rem;
		}
		&:hover {
			.arrow {
				animation-name: arrow;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
		}
	}
}
@keyframes arrow {
	50% {
		padding-left: 14rem;
	}
	100% {
		padding-left: 4rem;
	}
}

.about_me {
	width: 40rem;
	height: 41rem;
	padding: 4rem 4.5rem;
	background-color: #ffffff63;
	border-radius: 40px;
	dt {
		margin-bottom: 3rem;
	}
	dd {
		font-size: 2rem;
		span {
			display: inline-block;
			vertical-align: sub;
			margin-right: 2rem;
			font-size: 3rem;
		}
	}
	&:hover {
		box-shadow: 2px 3px 20px 6px #ffffff;
	}
}

.intro {
	dl {
		margin-bottom: 2.4rem;
	}
	dt {
		margin-top: 1rem;
	}
	dd {
		font-size: 2rem;
		color: var(--gray_02);
	}
	.skills {
		dd {
			display: flex;
			gap: 1rem;
			flex-wrap: wrap;
		}
	}
}

.work {
	.content {
		border: 0.3rem solid var(--light_gray);
		border-radius: 20px;
		overflow: hidden;
	}
	&_list {
		position: relative;
		& + .work_list {
			border-top: 0.3rem solid var(--light_gray);
		}
		.on.work_tit::before {
			transform: rotate(180deg);
		}
	}
	&_tit {
		position: relative;
		display: block;
		width: 100%;
		padding: 3rem 8rem 3rem 3rem;
		background: #fff;
		text-align: left;
		&::before {
			display: block;
			content: '▼';
			position: absolute;
			right: 3rem;
			top: 2.4rem;
			font-family: 'ONE-Mobile-POP';
			font-size: 2.6rem;
			color: var(--orange);
			transition: all 0.5s;
		}
		p {
			margin-top: 1rem;
			font-size: 1.8rem;
			line-height: 2;
			span {
				display: block;
			}
		}
		&:hover {
			background-color: var(--light_gray);
		}
	}
	time {
		margin-left: 1rem;
		font-family: 'Roboto';
		color: var(--gray_02);
		font-size: 1.8rem;
		font-weight: 400;
	}
	&_con {
		display: none;
		overflow: hidden;
		height: 0;
		background-color: #9e9d9b18;
	}
	.depth {
		&_one {
			margin: 3rem 6rem;
			padding-bottom: 3rem;
			border-bottom: 0.3rem solid var(--light_gray);
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
			.tit {
				font-size: 2.2rem;
			}
			.txt {
				font-size: 1.8rem;
			}
			> li {
				margin-top: 1.4rem;
			}
			&_two {
				margin-left: 3rem;
			}
		}
	}
}

.page {
	width: 98vw;
	overflow: hidden;
	.content {
		display: flex;
		gap: 3rem;
		width: 100%;
		margin-left: 8rem;
	}
	.box {
		&_txt {
			width: 55rem;
			.link {
				position: relative;
				display: block;
				padding: 2rem;
				* {
					color: var(--gray_01);
				}
				+ .link {
					margin-top: 2rem;
				}
				&:hover {
					background-color: var(--light_gray);
					border-radius: 7px;
				}
				a {
					&::before {
						display: none;
					}
				}
			}
			dt {
				margin-bottom: 1rem;
			}
			button {
				margin-top: 1.4rem;
				opacity: 0;
			}

			a.active {
				* {
					color: var(--deep_gray);
				}
				+ button {
					opacity: 1;
					overflow: visible;
				}
				&::before {
					display: block;
				}
			}
		}
		&_img {
			width: 110rem;
			min-height: 50rem;
			border-radius: 20px;
			border: 2px solid var(--light_gray);
			overflow: hidden;

			[class*='img_'] {
				width: 100%;
				height: 100%;
				display: none;
				img {
					height: 100%;
					background-size: cover;
				}
				&.active {
					display: block;
				}
			}
		}
	}
}

.current {
	.font {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;
		background-color: var(--light_gray);
	}
	dl {
		margin-bottom: 6rem;
	}
	dt {
		margin-bottom: 1rem;
	}
}

.etc {
	padding-bottom: 10rem;
	background-color: #a1a9b0;
	.title {
		color: #fff;
	}
	.content {
		padding: 3rem;
		background: #fff;
		border-radius: 20px;
		text-align: left;
	}
	dl {
		+ dl {
			margin-top: 3rem;
		}
	}
	dd {
		font-size: 1.8rem;
	}
}

@media (max-width: 768px) {
	.wrap {
		// font-size: 1.4rem;
		min-width: 100%;
		width: 100%;
		overflow: hidden;
	}

	.pc {
		display: none !important;
	}
	.mo {
		display: block;
	}

	h {
		&1 {
			font-size: 1.6rem;
		}
		&2 {
			font-size: 4.5rem !important;
		}
		&3 {
			font-size: 3.4rem;
		}
		&4 {
			font-size: 2rem;
		}
	}

	.text {
		&_01 {
			font-size: 2.8rem;
		}
		&_02 {
			font-size: 2rem;
		}
		&_stick {
			&::before {
				top: 1.4rem;
			}
		}
		&_dot {
			&::before {
				top: 1.4rem;
			}
		}
		&_multiple {
			li {
				&::before {
					top: 1rem;
				}
			}
		}
		&_trans {
			&::before {
				top: -2px;
			}
		}
	}

	.btn {
		&_round {
			font-size: 1.6rem;
		}
		&_floating {
			position: fixed;
			bottom: 6%;
			right: -30%;
			display: block;
			width: 6rem;
			height: 7rem;
			border-radius: 10px 0 0 10px;
			background-color: var(--orange);
			color: #fff;
			font-weight: bold;
			font-size: 1.4rem;
			padding: 1rem;
			transition: all 0.3s;
			&.floating {
				right: 0;
			}
		}
	}

	.top {
		width: 13rem;
		right: 2rem;
		left: auto;
		top: 2rem;
		transform: unset;

		&_cont {
			flex-wrap: wrap;
			gap: 0;
			padding: 0.4rem 1.2rem;
			border-radius: 8px;
			background: #ffffff80;
			a {
				width: 100%;
				line-height: 1.2;
			}
		}

		&.floating {
			.top {
				&_cont {
					padding: 1rem;
				}
			}
			.top_arrow {
				background-color: rgba(34, 34, 34, 0.4392156863);
				color: #fff;
				span {
					display: block;
					transition: all 0.3s;
				}
			}
		}

		&.hide {
			right: -130px;
			.top_arrow {
				span {
					transform: rotate(180deg);
				}
			}
		}

		&_arrow {
			position: absolute;
			left: -3rem;
			top: 1rem;
			height: 4.5rem;
			width: 3rem;
			border-radius: 20% 0 0 20%;
			background: rgba(255, 255, 255, 0.5019607843);
			font-size: 1.8rem;
		}
	}

	header {
		.hd {
			&_wrap {
				padding: 2rem 2rem;
			}
		}
	}

	.icon {
		&_stars {
			&::before {
				width: 3rem;
				height: 3rem;
				font-size: 3rem;
			}
		}
	}

	section {
		&.center {
			width: calc(100% - 4rem);
			margin: 5rem 2rem 0;
		}

		.title + .content {
			margin-top: 1.2rem;
		}
	}

	// 메인
	.visual {
		& > .content {
			display: block;
			margin: auto;
			width: 85%;
			left: 0;
			transform: translateY(-55%);
		}
		&_box {
			width: 100%;
		}
		dd {
			margin-top: 1.2rem;
			span,
			& a {
				font-size: 1.6rem;
			}
		}
		.link_more {
			left: 2.4rem;
			bottom: 2rem;
			.arrow {
				font-size: 2.6rem;
			}
		}
	}

	.about_me {
		width: 100%;
		height: auto;
		padding: 1.2rem 2rem;
		margin-top: 1.2rem;
		border-radius: 20px;
		dt {
			margin-bottom: 1rem;
		}
		dd {
			font-size: 1.4rem;
			margin-top: 0;
			span {
				font-size: 2rem;
			}
		}
	}

	.intro {
		dd {
			font-size: 1.6rem;
		}
	}

	.work {
		.content {
			border-radius: 10px;
		}
		&_tit {
			padding: 1.6rem 2.8rem 1.6rem 1.6rem;
			&::before {
				right: 1rem;
				top: 2rem;
				font-size: 1.8rem;
			}
			p {
				font-size: 1.6rem;
				line-height: 1.6;
			}
		}
		time {
			display: block;
			margin: 0.6rem 0 0;
			font-size: 1.4rem;
		}
		.depth {
			&_one {
				margin: 2rem 2rem;
				padding-bottom: 2rem;
				.tit {
					font-size: 1.8rem;
				}
				.txt {
					font-size: 1.4rem;
				}
				> li {
					margin-top: 1.4rem;
				}
			}
		}
		.text_multiple li {
			font-size: 1.4rem;
		}
	}

	.page {
		width: 100%;
		.content {
			margin-left: 0;
		}
		.box {
			&_txt {
				width: 100%;
			}
			&_img {
				display: none;
			}
		}
	}

	.current {
		.font {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 1rem;
			background-color: var(--light_gray);
		}
		dl {
			margin-bottom: 6rem;
		}
		dt {
			margin-bottom: 1rem;
		}
	}

	.etc {
		&.center {
			width: 100%;
			padding: 5rem 2rem 10rem;
		}
		.content {
			padding: 2rem;
		}
		dl {
			+ dl {
				margin-top: 2rem;
			}
		}
		dd {
			padding-left: 1.4rem;
			font-size: 1.6rem;
		}
	}
}
